<html>
  <head>
    <title>PacePlot</title>
  </head>
  <body>
    <header>
      <h1>PacePlot Header</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>Footer Content</p>
    </footer>
  </body>
</html>
